ul {
    margin: 0px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    background-color: rgb(218, 235, 255);
}

button {
    color: black;
    border-style: solid;
    border-color: black;
}

button:hover {
    color: white;
    background-color: black;
}